<ion-view view-title="Artists" class="artists">
  <ion-nav-title>
    <div><img src="img/tour-journal-word-logo1.png"></div>
  </ion-nav-title>
  <ion-content class="center">
    <div class="list">

      <a ng-click="getArtistPage($index)" class="item item-thumbnail-left" href="#" ng-repeat='artist in artists track by $index'>
        <img ng-src="{{ artist.profile_img || 'http://placehold.it/100x100' }}">
        <h2>{{artist.id}}</h2>
        <p>{{artist.genre}}</p>
      </a>

    </div>


  </ion-content>
</ion-view>
