<ion-view view-title="Artists">
  <ion-content class="center">
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Band Genre</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Band Genre</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Band Genre</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Band Genre</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Band Genre</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Band Genre</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Band Genre</p>
      </a>


    </div>


  </ion-content>
</ion-view>
