<ion-modal-view class="booking-modal booking">
  <ion-content scroll="false">
    <h2>{{user.id}}</h2>
    <form ng-submit="bookingUser(user)" class="booking-form">
      <div class="list list-inset">

        <label class="item item-input item-floating-label">
          <span class="input-label">Date</span>
          <input type="text" placeholder="Date" ng-model="user.date">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Time</span>
          <input type="text" placeholder="Time" ng-model="user.time">
        </label>

      </div>
      <div class="button-wrapper">
        <button type="submit" name="button" class="button button-dark">Book</button>
      </div>
    </form>

  </ion-content>
</ion-modal-view>
