<ion-modal-view class="login-modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
<!--         <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label> -->

        <div class="login-buttons">
          <!-- <div class="button-row-bottom"> -->
          <label class="item">
            <button class="button button-block button-balanced" ng-click="loginWithTwitter()">
              <span><i class="fa fa-twitter"></i></span>
            </button>
          </label>

          <label class="item">
            <button class="button button-block button-balanced" ng-click="loginWithFacebook()">
              <span><i class="fa fa-facebook"></i></span>
            </button>
          </label>

          <label class="item">
            <button type="submit" class="button button-block button-balanced">
              Login with email
            </button>
          </label>

          <label class="item">
            <button class="button button-block button-balanced" ng-click="registerWithEmail()">
              Register with email
            </button>
          </label>
        </div>

<!--             <button class="button button-block button-positive" type="submit">Log in</button>
 -->
        <!-- </div> -->
      </div>
    </form>
  </ion-content>
</ion-modal-view>

