<ion-modal-view class="login-modal">
  <div class="ctr">
    <img class="logo" src="img/logo.png" alt="">
  </div>
  <ion-content scroll="false" locking="true">
    <div class="login-slider-wrapper">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" class="login-slider">
        <ion-slide>
          <img src="img/login-slide-1.png" class="slider-image-login" alt="feature" />
        </ion-slide>
        <ion-slide>
          <img src="img/login-slide-2.png" class="slider-image-login" alt="feature" />
        </ion-slide>
        <ion-slide>
          <img src="img/login-slide-3.png" class="slider-image-login" alt="feature" />
        </ion-slide>
      </ion-slide-box>
    </div>
    <form ng-submit="login(user)" class="login-form">
      <div class="list list-inset">

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="user.id">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>

      </div>
      <button class="login-email" type="submit">
          <img class="login-button" src="img/email-login.png" />
      </button>
    </form>

    <label class="item signup-wrapper">
      <button ng-click="register()" class="signup">
        <img class="signup-button" src="img/tap-to-signup.png" />
      </button>
    </label>
  </ion-content>
</ion-modal-view>
