<ion-view view-title="Messages">
  <ion-nav-title>
    <div><img src="img/tour-journal-word-logo1.png"></div>
  </ion-nav-title>
  <ion-content class="center" id="messages" locking="true">
      <div class="list">

        <a class="item item-avatar" href="#">
          <img src="//placehold.it/100x100">
          <h2>From: Jon</h2>
          <p>Looking forward to playing with you...</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//placehold.it/100x100">
          <h2>From: Veldman</h2>
          <p>Don't worry, we will be able to make...</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//placehold.it/100x100">
          <h2>From: Simon</h2>
          <p>I will call you shortly with final...</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//placehold.it/100x100">
          <h2>From: Cheryl</h2>
          <p>Make sure you get back to me when...</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//placehold.it/100x100">
          <h2>From: Stanley</h2>
          <p>What time do you want us to meet?</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//placehold.it/100x100">
          <h2>From: Chris</h2>
          <p>In case you didn't already know...</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="//placehold.it/100x100">
          <h2>From: Bryan</h2>
          <p>Let me know as soon as you have...</p>
        </a>                                        


      </div>


  </ion-content>
</ion-view>