<ion-view view-title="Profile" class="profile">
  <ion-nav-title>
    <div><img src="img/tour-journal-word-logo1.png"></div>
  </ion-nav-title>
  <ion-content>

    <img src="{{user.profile_img}}" class="profile-img">
    <h4>{{user.id}}</h4>
    <div class="inline-profile-rating">
      <span>
        <i class="icon ion-ios-star"></i>
      </span>
      <span>
        <i class="icon ion-ios-star"></i>
      </span>
      <span>
        <i class="icon ion-ios-star"></i>
      </span>
      <span>
        <i class="icon ion-ios-star-half"></i>
      </span>
      <span>
        <i class="icon ion-ios-star-outline"></i>
      </span>
      <br>
    </div>

    <div class="ctr"><img src="../img/tag.png" alt="" class="tag">{{user.genre}}</div>
    <div class="ctr">{{user.location}}</div>

    <div class="social-icons">
      <span>
        <i class="icon ion-social-twitter"></i>
      </span>
      <span>
        <i class="icon ion-social-facebook"></i>
      </span>
      <span>
        <i class="icon ion-social-instagram"></i>
      </span>
      <br>
    </div>

    <div class="profile-buttons">
      <img src="../img/book-button.png" alt="" ng-click="booking()">
      <img src="../img/message-button.png" alt="">
    </div>
    <div class="container">
      <div class="profile-desc">
        <p class='ctr-profile'>
          Fixie chambray sriracha, vegan raw denim typewriter Intelligentsia Tumblr craft beer. Tilde keytar bitters pork belly trust fund, pug Brooklyn meditation four dollar toast swag XOXO. Yr Austin gluten-free 90's lumbersexual, McSweeney's health goth Etsy Neutra photo booth biodiesel PBR gastropub art party Odd Future.
        </p>
      </div>
    </div>


  </ion-content>
</ion-view>
