<ion-view view-title="Profile">
  <ion-content class="profile">

    <div class="list card">

      <div class="item item-avatar">
        <img src="http://placehold.it/100x100">
        <h2>Band Name</h2>
        <p>Genre</p>
        <p>Next Show</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://placehold.it/200x100">
        <p>
          This is where a short bio of the band will be.
          It will outline their style, hometown, etc.
          Narwhal migas ugh pug, photo booth locavore Schlitz umami cornhole Odd Future American.
          Photo booth meh leggings, drinking vinegar four dollar toast gluten-free fixie VHS Shoreditch mixtape bespoke trust fund.
        </p>
        <p class="profile-rating">
          <span>
            <i class="icon ion-ios-star"></i>
          </span>
          <span>
            <i class="icon ion-ios-star"></i>
          </span>
          <span>
            <i class="icon ion-ios-star"></i>
          </span>
          <span>
            <i class="icon ion-ios-star-half"></i>
          </span>
          <span>
            <i class="icon ion-ios-star-outline"></i>
          </span>

        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Rate
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-ios-play"></i>
          Listen
        </a>
      </div>

    </div>



  </ion-content>
</ion-view>
